---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
  <h1>About Our Company</h1>
  <p>Based in Bloemfontein, we operate across South Africa, offering precision drone mapping.</p>
</Layout>
